RHT_OCP4_MASTER_API=https://api.eu46.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu46.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu46.prod.nextcle.com
RHT_OCP4_DEV_USER=kbddud
RHT_OCP4_DEV_PASSWORD=8d59d618ec0041d48865
RHT_OCP4_GITHUB_USER=pino-san
RHT_OCP4_QUAY_USER=giusan_ibm
